.page-backdrop {
    background-image: url("https://66.media.tumblr.com/f550848ce5e463dea7a9f9aed5c85065/tumblr_p71807aRQK1qzw1qyo1_540.gifv");
    background-size: 100%;
    background-position-y: 30%;
}

.retrieval-text {
    color: whitesmoke;
}

.return {
    position: relative;
    margin-top: 31%;
}


