/* management handle requests */

.page-backdrop {
    background-image: url("https://bigmemes.funnyjunk.com/gifs/16+bit+mountains+hasnt+been+posted+in+a+while+i_520423_5153923.gif");
    background-size: 100%;
    background-position-y: 30%;
}

.retrieval-text {
    color: whitesmoke;
}

#infoText {
    width: 100%;
    color: whitesmoke;
    background-color: transparent;
    border-color: gray;
}

textarea {
    color: whitesmoke;
}

.container {
    margin-top: 10%;
    background-color: #4a4a4a;
    padding: 1%;
    border-width:5px;  
    border-style:double;
}

.h1 {
    color:whitesmoke;
}

.requestNum {
    color: whitesmoke;
}

.return {
    position: relative;
    margin-top: 7%;
  }